body {
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}

.main-header {
  font-size: 70px;
  font-weight: 900;
  color: #ffffff;
}
.secoundary-header {
  font-size: 36px;
  font-weight: 700;
  color: #181818;
}
.sub-header {
  font-size: 20px;
  font-weight: 500;
  color: #181818;
}
.paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #716c80;
}
.section-gaph {
  padding-top: 125px;
  padding-bottom: 125px;
}

/* TOP NAV SECTION */

 .top-nav {
  background-color: #ffb11f;
}

.top-nav-content {
  display: flex;
  flex-wrap: wrap;
}


.social-icon {
  margin: 0;
  padding: 0;
}

.top-nav-content li {
  list-style: none !important;
  margin-right: 1rem;
}

.top-nav-content li:last-child {
  margin-right: 0;
}

.top-nav-content li a {
  text-decoration: none;
  color: #ffffff;
}  

/* HEADER SECTION */
/* Navbar Section */

.navbar-nav {
  align-items: center;
}
.navbar .navbar-nav  .nav-link  {
  color: #fff;
  font-size: 1.1em;
  padding: 35px 30px;
}
.nav-item a{
  color: #181818 !important;
}
.nav-item:hover a{
  color: #ffb11f !important;
}
.nav-bottom-content a{
list-style: none;
text-decoration: none;
color: #181818;
font-family: "Roboto", sans-serif;
font-size: 20px;
}

.nav-bottom-content .social-icon .fab{
  font-size: 30px;
}

.nav-icon .fa-solid {
  border: 1px solid #ffeece;
  border-radius: 50%;
  padding: 10px;
  

}
.nav-icon a{
  color: #ffb11f !important;
}

@media screen and (min-width: 768px) {
  
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}
/* Hero Section */
.mainheader {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/main-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.mainheader::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to control the overlay opacity */
  z-index: 1; /* Adjust the z-index to ensure the overlay is on top of the background image */
}

.header-content {
  z-index: 2;
}

.mainheader h1 {
  max-width: 645px;
  margin: 0 auto;
}

.mainheader p {
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  border-radius: 2px;
  font-size: 1rem;
  padding: 12px 35px;
  background-color: #ffb11f;
}

/* Swiper Slider  */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

/* Customize the bullet styles */
.swiper-pagination-bullet {
  width: 25px; /* Set the width of the horizontal line */
  height: 4px; /* Set the height of the horizontal line */
  background-color: #fff; /* Set the line color */
  opacity: 1; /* Set the line opacity */
  margin: 0 8px;
  border-radius: 0; /* Adjust the spacing between lines */
}

/* Customize the active bullet styles */
.swiper-pagination-bullet-active {
  background-color: #ff9900; /* Set the active line color */
  opacity: 1; /* Set the active line opacity */
}

/* HEALTH SECTION */
.health-heading p {
  max-width: 455px;
  margin: 0 auto;
}
.tomato {
  background-color: #ffe6e6;
}
.berry {
  background-color: #ece9fc;
}
.orange {
  background-color: #ffe6e6;
}
.banana {
  background-color: #fff7d1;
}
.health-Item:hover {
  background-color: #ffff;
}
/* ORGANIC SECTION */
.organic{
  background-color: #f8fafe;
  position: relative;
}
.organic .carrot-offset{
  position: absolute;
  top: -115px;
}
.organic .coliful-offset{
  position: absolute;
  top: 130px;
  right: 720px;
}
.organic-content{
  padding-bottom: 20px !important;
}
.organic-heading h3{
  max-width: 510px;
}
.organic-heading p{
  max-width: 565px;
}
.one .organic-icon img{
  background-color: #ff7200;
  padding: 10px 15px;
  border-radius: 2px;
  
}
.two .organic-icon img{
  background-color: #8c3fc7;
  padding: 10px 15px;
  border-radius: 2px;
  
}
.three .organic-icon img{
  background-color: #f45679;
  padding: 10px 15px;
  border-radius: 2px;
  
}
.four .organic-icon img{
  background-color: #ffb22e;
  padding: 10px 15px;
  border-radius: 2px;
  
}
.organic-item-text p{
  max-width: 270px;
}
/* PRODUCT SECTION STRATS HERE */
.product{
  position: relative;
}
.product .tomato-offset{
  position: absolute;
  top: 75px;
  right: 90px;
  z-index: -1;
}
.product .avocado-offset{
  position: absolute;
  bottom: 90px;
  left: 25px;
  z-index: -2;
}
.product-heading p{
max-width: 400px;
margin: 0 auto;
}
.product-item{
  position: relative;
}
.product-item h4{
  font-weight: 900;
}
.product-item-img{
  padding: 0;
}
.product-item-img img{
  padding: 50px 25px;
  background-color: #f8fafe;
  width: 100%;
}
.product-item-review{
  font-size: 12px !important;
}
.product-item-price h4{
  font-size: 16px;
  font-weight: bold;
}
.product-item{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 50px ;
}
.product-item:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.product-item .cart-button {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 0; 
  transition: opacity 1s ease, max-height 1s ease; 
  max-height: 0; 
}

.product-item .btn {
  border-radius: 2px;
  font-size: 1rem;
  padding: 10px 35px;
  background-color: #ffb11f;
  transition: 1s;
}

.product-item:hover .cart-button {
  opacity: 1; 
  max-height: 100px; 
  
}
/* AMOUNT SECTION STARTS HERE */
.amount {
  position: relative;
  
  
  background-image: url(../images/fruit-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.amount::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); 
}
.amount-content{
  padding-top: 125px;
  padding-bottom: 125px;
}
.amount-content{
  position: relative;
 
}
/* GALLARY SECTION */
.gallary-content{
  padding-bottom: 0px;
}
.gallary-heading p{
  max-width: 350px;
  margin: 0 auto;
}
.gallary-img-item{
  position: relative;
  overflow: hidden;
}

.gallary-img-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallary-img-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 177, 31, 0.8); 
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.gallary-img-item .text {
  color: #fff; /* Set the text color */
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.gallary-img-item:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

/* BANNER SECTION STARTS HERE */
.banner-content{
  padding-top: 120px;
  padding-bottom: 120px;
}
.banner-content .orange{
  background-color: #ffb11f;
}
.banner-content .strawberry{
  background-color: #f54830;
}

.banner-text h4{
  max-width: 300px;
}

/* CUSTOMER SECTION */
.customer{
  background-color: #f8fafe;
}
.testimonial{
  padding-top: 120px;
  padding-top: 120px;
}
.testimonial h4{
  max-width: 545px;
}
.testimonial-comment p{
  max-width: 570px;
}
/* Swiper Slider */
.previous-button img,
.next-button img{
padding: 5px 10px;
background-color: #ffb11f;
}
.previous-button img:hover,
.next-button img:hover{
  background-color: #ec9c07;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
/* BLOG SECTION STARTS HERE */
.blog{
  background-image: url(../images/organic-bac-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-content{
  padding-top: 120px;
  padding-bottom: 90px !important;
}
.blog-card .card img{
  position: relative;
}
.card-img-date{
  position: absolute;
  top: 10px;
  left:10px;
  background-color: #ffb11f !important;
  line-height: 20px;
}
.card-img-date .date {
  font-size: 24px !important;
  margin-bottom: 0px !important;
}
.month {
  font-size: 15px !important;
}


.blog-heading h3 {
  font-size: 36px;
}
.blog-heading p {
  font-size: 36px;
  max-width: 375px;
  margin: 0 auto;
  font-size: 16px;
}
.blog-card .card-title{
  max-width: 295px;
  margin: 0 auto;
  font-size: 20px !important;
}
.blog-card .card-text{
font-size: 16px !important;
}
.read-more a{
  color: #ffb11f;
  text-decoration: none;
}
/* LOGO SECTION STARTS HERE */
.logo-section{
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-content{
  padding-top: 60px;
  padding-bottom: 60px ;
}
.logo-tag{
  justify-content: space-between !important;
}
/* FOOTER SECTION STARTS HERE */
.footer{
  background-image: url(../images/footer-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-content{
  padding-top: 140px;
  
}
.footer-address p{
  margin-bottom: 0px !important;
  padding-top: 0px !important;
}
.footer-address-text p{
  font-size: 16px;
}
.main-logo{
  align-items: center;
  
}
.main-logo h4{
  font-size: 28px;
  font-weight: 700 !important;
}
.footer-description p{
  color: #ffffff !important;
}
.footer-address .fa-solid{
  color: #ffb11f;
}










































/* Media Queries */


/* Extra small devices (phones) */
@media only screen and (max-width: 576px) {
  .top-nav-content {
    flex-direction: column;
    align-items: center;
  }

  .top-nav-content li {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .navbar .navbar-nav .nav-link{
    padding: 5px 30px;
  }
  .mainheader{
    height: 560px;
  }
  .mainheader .main-header {
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
  }
  .mainheader .secoundary-header {
    font-size: 20px;
    font-weight: 700;
    color: #181818;
  }
  .amount-Item{
    border-right: none !important;
  }
  .banner-card{
    flex-direction: column;
  }
  
  .organic-content{
    padding-bottom: 40px !important;
  }
  
}


/* Small devices (tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .top-nav-content {
    flex-direction: column;
    align-items: center;
  }
  .navbar .navbar-nav .nav-link{
    padding: 5px 30px;
  }

  .top-nav-content li {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  .amount{
    border-right: none !important;
  }
  .banner-card{
    flex-direction: column;
  }
  
  .organic-content{
    padding-bottom: 40px !important;
  }
}

/* Medium devices (desktops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .top-nav-content {
    flex-direction: column;
    align-items: center;
  }
  
  .top-nav-content li {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .amount{
    border-right: none !important;
  }
  .banner-card{
    flex-direction: column;
  }
  .navbar .navbar-nav .nav-link{
    padding: 5px 30px;
  }
  .organic-content{
    padding-bottom: 40px !important;
  }
}

/* Large devices (large desktops) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  
}

/* Extra large devices (extra-large desktops) */
@media only screen and (min-width: 1201px) {
  
}